body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../img/header.jpg");
    min-height: 10%;
}
.menu {
    display: none;
}
span.mini {font-size: small; }
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}